/bin/
/out/
/classes/
/db/
/log/
/tmp/
/port/jane.sdf
/port/jane.suo
/port/jane.*.suo
/port/csharp/bin/
/port/csharp/obj/
/port/csharp/*.user
/port/csharp/project.json
/port/csharp/project.lock.json
/port/.vs/
/port/lua/bin/
/jane-*.jar

*.keystore
.eclipse-pmd
~$*.*
uvjni64.dll
aesjni64.dll
