/bin/
/classes/
/db/
/log/
/tmp/
/port/cpp/jane.sdf
/port/cpp/jane.suo
/port/cpp/jane.vcxproj.user
/port/csharp/bin/
/port/csharp/obj/
/port/csharp/jane.suo
jane-core.jar
jane-test.jar
jane-src.jar
*.keystore
