/bin/
/classes/
/db/
/log/
/tmp/
/port/jane.sdf
/port/jane.suo
/port/jane.*.suo
/port/csharp/bin/
/port/csharp/obj/
/port/csharp/*.user
/port/csharp/project.json
/port/csharp/project.lock.json
/port/.vs/
/port/lua/bin/
jane-core.jar
jane-core-src.jar
jane-native.jar
jane-test.jar
jane-test-all.jar
*.keystore
.eclipse-pmd
