<?xml version="1.0" encoding="UTF-8"?>
<!-- put this file in java classpath that must not contain "!" and ensure the filename: log4j2.xml -->
<Configuration status="WARN" shutdownHook="disable">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT" ignoreExceptions="false">
			<ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout charset="UTF-8" pattern="%d{yy-MM-dd HH:mm:ss.SSS} %-5level [%t] %msg%n"/>
		</Console>
		<Console name="STDERR" target="SYSTEM_ERR" ignoreExceptions="false">
			<ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout charset="UTF-8" pattern="%d{yy-MM-dd HH:mm:ss.SSS} %-5level [%t] %msg%n"/>
		</Console>
		<RollingRandomAccessFile name="FILE" fileName="log/jane.log" filePattern="log/jane.%d{yy-MM-dd}.log" immediateFlush="false" ignoreExceptions="false">
			<ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout charset="UTF-8" pattern="%d{yy-MM-dd HH:mm:ss.SSS} %-5level [%t] %msg%n"/>
			<Policies>
				<!-- <OnStartupTriggeringPolicy/> with %i in filePattern -->
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<!-- <SizeBasedTriggeringPolicy size="1GB"/> with %i in filePattern -->
			</Policies>
			<!-- <DefaultRolloverStrategy fileIndex="max" max="500" compressionLevel="0"/> -->
	  	</RollingRandomAccessFile>
		<Failover name="FAIL" primary="FILE">
			<Failovers>
				<AppenderRef ref="STDERR"/>
			</Failovers>
		</Failover>
		<Async name="ASYNC" bufferSize="65536" errorRef="STDERR">
			<AppenderRef ref="FAIL"/>
		</Async>
	</Appenders>
	<Loggers>
		<Root level="TRACE"><!-- level: ALL <= TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF -->
			<AppenderRef ref="ASYNC"/>
			<AppenderRef ref="STDOUT"/>
		</Root>
	</Loggers>
</Configuration>
