<?xml version="1.0" encoding="UTF-8"?>
<!-- put this file in java classpath and ensure the filename: logback.xml -->
<configuration debug="false">
	<property name="log_path" value="${log.path:-log}"/>
	<property name="log_name" value="${log.name:-jane}"/>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<file>${log_path}/${log_name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_path}/${log_name}.%d{yy-MM-dd}.log</fileNamePattern>
			<maxHistory>500</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level [%t] %msg%n</pattern>
		</encoder>
		<immediateFlush>false</immediateFlush>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<encoder>
			<pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level [%t] %msg%n</pattern>
		</encoder>
		<immediateFlush>false</immediateFlush>
	</appender>
	<appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>65536</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="FILE"/>
	</appender>
	<appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>65536</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="STDOUT"/>
	</appender>

	<!--logger name="org.apache" level="INFO"/-->

	<root level="ALL"><!-- level: ALL <= TRACE < DEBUG < INFO < WARN < ERROR < OFF -->
		<appender-ref ref="ASYNC_FILE"/>
		<appender-ref ref="ASYNC_STDOUT"/>
	</root>
</configuration>
